@use 'base' as *;

.search-bar {
    display: flex;
    flex-direction: row;
    border: none;

    &__input {
        background-color: transparent;
        color: $yellow;
        border-radius: 8px 0 0 8px;
        border-color: $blue;
        border-style: solid;
        outline: none;
        padding: 4px;
    }
    &__button {
        background-color: $blue;
        border-radius: 0 8px 8px 0;
        border-style: solid;
        border-color: $blue;
        outline: none;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-items: center;
    }
}