@use 'base' as *;

.search-bar {
    display: flex;
    flex-direction: row;
    border: none;


    &__input {
        background-color: rgba(255, 255, 255, 0.854);
        border-radius: 8px 0 0 8px;
        border: none;
        padding: 6px;
    }
    &__button {
        background-color: $blue;
        border-radius: 0 8px 8px 0;
        border: none;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-items: center;
    }
}